<!-- <h1>Assignment 1 Components</h1>
<app-warning-alert></app-warning-alert>
<app-success-alert></app-success-alert>
<app-christopher></app-christopher>
<hr>
<h1>Assignment 2 Data binding</h1>
<input type="text" [(ngModel)]="userName" />

<p>{{ userName }}</p>

<button [disabled]="!userName" (click)="onChangeName()">Reset User</button> -->
<!-- <hr />
<h1>Assignment 3 Directives</h1>

<button (click)="onToggleDisplay()">Display Details</button>
<p *ngIf="displayDetails">Secret password = tuna</p>

<ul *ngFor="let log of logs; let i = index">
   <li
   [ngStyle]="{backgroundColor : i >= 4 ? 'blue' : 'transparent'}"
   [ngClass]="{whiteColor : i >= 4}"
   >{{log}}</li>
</ul>

<p>Number of button clicks: {{ logs.length }}</p> -->

<!-- <h1>Handing Errors</h1>
<button (click)="onAdd()">Add</button>
<div>
    <button
    *ngFor="let thing of things; let i = index" (click)="onRemove(i)"
    >{{thing}}</button>
</div> -->

<!-- <h1>Practicing Property & Event Binding and View Encapsulation</h1>
<app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
<app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber"></app-odd>
<app-even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber"></app-even> -->


<!-- <h1>I have to make it work</h1>
<app-radio-transmit (radioSignal)="onReciveMessage($event)"></app-radio-transmit>
<app-recive-radio [message]="message"></app-recive-radio> -->


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary"
            (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
            <br><br>
            <ul class="list-group">
                <div *ngIf="onlyOdd">
                    <li class="list-group-item"
                    *ngFor="let oddNumber of oddNumbersDEMO"
                    [ngClass]="{odd: oddNumber % 2 !== 0}"
                    [ngStyle]="{backgroundColor: oddNumber % 2 !== 0 ? 'yellow' : 'transparent'}"
                    >{{oddNumber}}</li>
                </div>
                <div *ngIf="!onlyOdd">
                    <li class="list-group-item"
                    *ngFor="let evenNumber of evenNumbersDEMO"
                    [ngClass]="{odd: evenNumber % 2 !== 0}"
                    [ngStyle]="{backgroundColor: evenNumber % 2 !== 0 ? 'yellow' : 'transparent'}"
                    >{{evenNumber}}</li>
                </div>
            </ul>
            <p appBasicHighlight>Jag är grön</p>
            <p appBetterHighlight>Jag är blå</p>
        </div>
    </div>
</div>
